<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

<header class="navbar">
    <div class="logo">
        <img src="{{ url_for('static', filename='images/face-scan.png') }}" alt="Face Logo">
        <a href="/">FACE</a>
    </div>

    <nav class="nav-links">
        <a href="/attendance" class="nav-link"><i class="fas fa-check-circle"></i> Attendance</a>
        <a href="/listusers" class="nav-link"><i class="fas fa-user-graduate"></i> Students</a>
    </nav>
</header>

<section class="hero">
    <!-- FOOTER -->
<footer class="bottom-bar">
    <div class="left-info">
        © FACE 2026 - About - Privacy
    </div>

    <div class="center-tag">
        #FACERecognition
    </div>

    <div class="right-share">
        <span>Share</span>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>
</footer>
    

    <div class="hero-center">

        <img src="{{ url_for('static', filename='images/images.png') }}" class="hero-icon" alt="icon">

        <h2 class="company">Abhishek Technologies</h2>
        <p class="presents">presents</p>

        <h1 class="face-title"> F.A.C.E </h1>

        <h2 class="main-title">
            FACIAL ATTENDANCE AND CONTROL ENGINE
        </h2>

        <p class="subtitle">
            An AI system that marks attendance using facial recognition.
        </p>

        <a href="/attendance" class="btn">Get Started</a>

    </div>



</section>

</body>
</html>